<!doctype HTML>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ketchUp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

</head>

<body>

  <article class='navHeaderSectionNonMain'>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" id="navBarLinks" href=<%=linkHome %> >ketchUp</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul id='nav' class="nav navbar-nav">
            <li><a id="navBarLinks" href=<%=linkHome %> >home </a></li>
            <li><a id="navBarLinks" href=<%=linkApt%> >schedule a meeting</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" class="signupForm">
      <h1 class="signupForm">sign up for <span class="signupKetchup">ketchUp</span></h1>
      <form action="/signup" method="post" class="signupForm">
        <div class="form-group">
          <label for="username">username</label>
          <input type="text" name="username" class="form-control" ></input>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input type="text" name="email" class="form-control" ></input>
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input type="password" name="password" class="form-control" ></input>
        </div>
        <div class="form-group">
          <label for="confirm_password">confirm password</label>
          <input type="password" name="confirm_password" class="form-control" ></input>
        </div>
          <button type="submit" class="btn btn-default">submit</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>


    <div class="panel-footer">
      <div class='row'>
        <div class='col-md-6'>
          <ul class='panel-footer-left'>
            <ol><a class="footerLinks" href= <%=linkHome %> >home </a></ol>
            <ol><a class="footerLinks" href= <%=linkApt %> >schedule a meeting</a></ol>
            <ol><a class="footerLinks" href= <%=linkPref %> >preferences</a></ol>
          </ul>
        </div>
        <div class='col-md-6'>
          <ul class='panel-footer-right' style="color:#fffdfd">
            <ol>designed by</ol>
            <ol><a href='https://github.com/micah-eberhard' class="footerLinks">Micah Eberhard </a></ol>
            <ol><a href='https://github.com/KeenanHoffman' class="footerLinks">Keenan Hoffman </a></ol>
            <ol><a href='https://github.com/lkhohn' class="footerLinks">Lindsay Hohn </a></ol>
            <ol><a href='https://github.com/James80401' class="footerLinks">James Shield </a></ol>
          </ul>
        </div>
      </div>
    </div>

  </article>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
